noscript
  .unsupported
    .unsupported__wrapper
      .unsupported__content
        img.unsupported__image(src="https://i.imgur.com/QNymORL.png")

        h1.unsupported__title Javascript Disabled.

        p.unsupported__description This website requires Javascript to work properly.
