@import "../../styles/index";

.home {
  background: #020202;
  padding: 0;
  margin: 0;
  height: 100vH;
  width: 100vW;
  overflow: hidden;
}

.noise {
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  z-index: 999999;
  position: absolute;
  background-position: 50%;
  opacity: 0.5;
  background-image: url(https://i.imgur.com/A7cmcos.png);
  pointer-events: none;
  -webkit-animation: foreground 1s steps(2) infinite;
  animation: foreground 1s steps(2) infinite;
}

.wrapper {
  margin: auto;
  max-width: 825px;
  padding: 150px 25px;
  position: relative;
}

.title {
  color: #fff;
  white-space: nowrap;
  position: absolute;
  text-align: center;
  margin: 25vH auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  :global(span) {
    display: inline-block;
    vertical-align: top;
  }

  h1 {
    font-size: 52px;
    font-weight: 700;
  }

}

  .underline {
    position: absolute;
    z-index: -1;
    left: 200px;
    text-align: center;
    margin: -40px auto;
    @include media("<small") {
      display: none;
    }
  }


/*! CSS Used keyframes */
@-webkit-keyframes foreground {
  0% {
    -webkit-transform: translate3d(0, 9rem, 0);
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    -webkit-transform: translate3d(-1rem, -4rem, 0);
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    -webkit-transform: translate3d(-8rem, 2rem, 0);
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    -webkit-transform: translate3d(9rem, -9rem, 0);
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    -webkit-transform: translate3d(-2rem, 7rem, 0);
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    -webkit-transform: translate3d(-9rem, -4rem, 0);
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    -webkit-transform: translate3d(2rem, 6rem, 0);
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    -webkit-transform: translate3d(7rem, -8rem, 0);
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    -webkit-transform: translate3d(-9rem, 1rem, 0);
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    -webkit-transform: translate3d(6rem, -5rem, 0);
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    -webkit-transform: translate3d(-7rem, 0, 0);
    transform: translate3d(-7rem, 0, 0);
  }
}
@keyframes foreground {
  0% {
    -webkit-transform: translate3d(0, 9rem, 0);
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    -webkit-transform: translate3d(-1rem, -4rem, 0);
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    -webkit-transform: translate3d(-8rem, 2rem, 0);
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    -webkit-transform: translate3d(9rem, -9rem, 0);
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    -webkit-transform: translate3d(-2rem, 7rem, 0);
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    -webkit-transform: translate3d(-9rem, -4rem, 0);
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    -webkit-transform: translate3d(2rem, 6rem, 0);
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    -webkit-transform: translate3d(7rem, -8rem, 0);
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    -webkit-transform: translate3d(-9rem, 1rem, 0);
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    -webkit-transform: translate3d(6rem, -5rem, 0);
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    -webkit-transform: translate3d(-7rem, 0, 0);
    transform: translate3d(-7rem, 0, 0);
  }
}
