div(class=`noise ${styles.noise}`)
div(class=`Wrapper ${styles.wrapper}`)
  div(class=`Title ${styles.title}`)
    h1 Express Boilerplate
      div(class=`Underline ${styles.underline}`)
        include ../../assets/shared/underline.svg
